<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon11.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,284},{74,66}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{74,66}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>icon12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{74,66}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{74,66}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>icon13.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,148},{74,68}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{74,68}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>icon14.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{74,72}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{74,72}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>icon15.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,218},{74,66}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{74,66}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>icon16.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,216},{74,66}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{74,66}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>icon17.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,148},{74,66}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{74,66}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>icon21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{74,70}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{74,70}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>icon22.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,76},{74,70}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{74,70}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>icon23.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,72}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{74,72}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>icon24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,72}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{74,72}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>icon25.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,76},{74,70}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{74,70}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>icon26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{74,70}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{74,70}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>icon27.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,286},{64,74}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{64,74}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameIcon.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a20d1bc09fc64ef7119a39b87fd21b1:ad5ed76c8fdfc1b8d02192518f1267cc:282d01e5602a5e4e186b5f1712b213c2$</string>
            <key>textureFileName</key>
            <string>GameIcon.png</string>
        </dict>
    </dict>
</plist>
